html, body {
    background-color: #23252a;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
}

.btn-primary {
    border-radius: 5px;
    background: #d4e0fe;
    border: 0;
    cursor: pointer;
    padding: 5px 20px;
}

.btn-primary + .btn-primary {
    margin-left: 10px;
}